@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');

/* variables */
:root {
    --text-gray: #808291;
    --text-white: #ffffff;
    --text-light: #f6f6f6;
    --text-dark: #1A3260;
    --text-dark2: #1A3760D4;
    --text-red: #ff4d6d;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    --bg-blue: rgb(249, 243, 255);
    --bg-red: rgb(254, 247, 252);
    --bg-yellow: rgb(255, 255, 246);
    --bg-purble: rgb(246, 255, 255);


    --font-poppins: "Poppins", 'sans-serif';

    --bg-gradient: linear-gradient(to right, #ff512f, #dd2476);
    --bg-gradient-indigo: linear-gradient(to right, #8e2de2, #4a00e0);
    --bg-gradient-peach: linear-gradient(to right, #fff7f3, #fff7f3);


    --bg-cover: url('./assets/bgimg1.png');
    --bg-image1: url('./assets/img1.png');
    --bg-image2: url('./assets/img2.png');
    --bg-image3: url('./assets/img3.png');
}

">" {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* variables */